body {
    background-color: rgb(1, 1, 15);
    font-family: "Poppins", sans-serif;
}
.cartao{ 
    border: 3px solid white;
    width: 580px;
    height: 750px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;
    padding: 40px 50px;
}
p{
    color: white;
    text-align: center;
}
.foto {
    background-image: url(imagens/Foto\ perfil.jpg);
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0px 0px 2px 2px var(--lightGreen);
    margin-left: 35%;
}
h1 {
    color: white;
    text-shadow: 1px 1px 1px #333;
    margin-left: 40%;
    transform: translateX(-33%);
    text-align: center;
}
h2 { 
    color: white;
    text-shadow: 1px 1px 1px #333;
    margin-left: 40%;
    transform: translateX(-33%);
    text-align: center;  
} 
h3 {
    color: white;
    text-align: center;
}
.borda {
    display: flex;
    height: 150px;
    width: 350px;
    border : 2px solid white;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content:space-around;
    border-radius: 24px;
    padding: 40px 50px;
} 

.redes {
    display: flex;
    background-color: rgb(1, 1, 15);
    border: 3px solid white ;
    width: 340px;
    height: 20 px;
    margin-left: 9%;
    border-radius: 24px;
    padding: 40px 50px;  
    justify-content: center;
    align-items: center;
    position: relative;
}

    